In [1]:
import pandas as pd
from glob import glob

In [2]:
#Read all csv files in Resources folder 
nyBike_files = glob("Resources/*.csv")

In [3]:
#combine in one file
nyBike_df_list = []
for filename in sorted(nyBike_files):
    nyBike_df_list.append(pd.read_csv(filename))

    nyBike2018_df = pd.concat(nyBike_df_list)

In [4]:
# save the final file in same/different directory:
nyBike2018_df.to_csv("Resources/merged_nyBike2018.csv", index=False)

In [5]:
#Read new merged data with pandas df
nyBike2018_raw_df = pd.read_csv('Resources/merged_nyBike2018.csv')

In [6]:
nyBike2018_raw_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [7]:
#Check for Rows with missing data
nyBike2018_raw_df.count()

tripduration               1061676
starttime                  1061676
stoptime                   1061676
start station id           1061676
start station name         1061676
start station latitude     1061676
start station longitude    1061676
end station id             1061676
end station name           1061676
end station latitude       1061676
end station longitude      1061676
bikeid                     1061676
usertype                   1061676
birth year                 1061676
gender                     1061676
dtype: int64

In [8]:
# Drop all rows with missing information
#nyBike2018_raw_df = df.dropna(how='any')

In [9]:
#Check Data types
nyBike2018_raw_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [10]:
nyBike2018_raw_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1