In [1]:
import pandas as pd
import dateutil
import numpy as np
from datetime import datetime

In [2]:
# Load data from csv file
data = pd.read_csv('Output/bikes_all2018.csv')

In [3]:
data.head()

,Unnamed: 0,trip_id,starttime,stoptime,tripduration,birth year,gender,bikeid,usertype,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude
0,0,1,2018-01-01 02:06:17.541,2018-01-01 02:21:50.027,932,1992,1,31929,Subscriber,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108
1,1,2,2018-01-01 12:06:18.039,2018-01-01 12:15:28.443,550,1969,2,31845,Subscriber,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108
2,2,3,2018-01-01 12:06:56.978,2018-01-01 12:15:27.810,510,1946,1,31708,Subscriber,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108
3,3,4,2018-01-01 14:53:10.186,2018-01-01 14:59:05.096,354,1994,1,31697,Subscriber,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526
4,4,5,2018-01-01 17:34:30.192,2018-01-01 17:38:40.984,250,1991,1,31861,Subscriber,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234

In [4]:
data.dtypes

Unnamed: 0                   int64
trip_id                      int64
starttime                   object
stoptime                    object
tripduration                 int64
birth year                   int64
gender                       int64
bikeid                       int64
usertype                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
dtype: object

In [5]:
# Convert starttime & stoptime from string to date times
data['starttime'] = data['starttime'].apply(dateutil.parser.parse, dayfirst=False)
data['stoptime'] = data['stoptime'].apply(dateutil.parser.parse, dayfirst=False)
data.dtypes

Unnamed: 0                          int64
trip_id                             int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
tripduration                        int64
birth year                          int64
gender                              int64
bikeid                              int64
usertype                           object
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
dtype: object

In [6]:
data.count()

Unnamed: 0                 1061676
trip_id                    1061676
starttime                  1061676
stoptime                   1061676
tripduration               1061676
birth year                 1061676
gender                     1061676
bikeid                     1061676
usertype                   1061676
start station id           1061676
start station name         1061676
start station latitude     1061676
start station longitude    1061676
end station id             1061676
end station name           1061676
end station latitude       1061676
end station longitude      1061676
dtype: int64

In [7]:
bikeid_df = data.drop_duplicates(subset="bikeid",keep='first')

In [8]:
bikeid_df.count()

Unnamed: 0                 903
trip_id                    903
starttime                  903
stoptime                   903
tripduration               903
birth year                 903
gender                     903
bikeid                     903
usertype                   903
start station id           903
start station name         903
start station latitude     903
start station longitude    903
end station id             903
end station name           903
end station latitude       903
end station longitude      903
dtype: int64

In [9]:
new_bikeid_df = bikeid_df[['bikeid']].copy()

In [10]:
new_bikeid_df.head()

   bikeid
0   31929
1   31845
2   31708
3   31697
4   31861

In [11]:
new_bikeid_df.to_csv('Output/bike_id.csv', index=True, header=True)

In [12]:
new_bikeid_df['bikeid'].is_unique

True