In [1]:
import pandas as pd
import dateutil
import numpy as np
from datetime import datetime

In [2]:
# Load data from csv file
data = pd.read_csv('Resources/merged_nyBike2018.csv')

In [3]:
data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [4]:
data.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [5]:
# Convert starttime & stoptime from string to date times
data['starttime'] = data['starttime'].apply(dateutil.parser.parse, dayfirst=False)
data['stoptime'] = data['stoptime'].apply(dateutil.parser.parse, dayfirst=False)
data.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
dtype: object

In [6]:
gdata_df = data

In [7]:
gdata_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.541,2018-01-01 02:21:50.027,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.039,2018-01-01 12:15:28.443,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.978,2018-01-01 12:15:27.810,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.186,2018-01-01 14:59:05.096,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.192,2018-01-01 17:38:40.984,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [8]:
gdata_df.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
dtype: object

In [9]:
print(gdata_df.index)

RangeIndex(start=0, stop=1061676, step=1)

In [10]:
type(gdata_df)

pandas.core.frame.DataFrame

In [11]:
#from datetime import datetime

#pd.date_range(start='1/1/2018', periods=12, freq='M')
#DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30', '2018-05-31', \
#               '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31', \
#              '2018-11-30', '2018-12-31'],
#              dtype='datetime64[ns]', freq='M')

In [12]:
gdata_df['starttime'].is_unique

False

In [13]:
gdata_df['tripduration'].is_unique

False

In [14]:
gdata_df.insert(0, 'trip_id', range(1, 1 + len(gdata_df)))
gdata_df.head()

,trip_id,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1,932,2018-01-01 02:06:17.541,2018-01-01 02:21:50.027,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,2,550,2018-01-01 12:06:18.039,2018-01-01 12:15:28.443,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,3,510,2018-01-01 12:06:56.978,2018-01-01 12:15:27.810,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,4,354,2018-01-01 14:53:10.186,2018-01-01 14:59:05.096,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,5,250,2018-01-01 17:34:30.192,2018-01-01 17:38:40.984,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [15]:
gdata_df.set_index('trip_id')

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
trip_id,,,,,,,,,,,,,,,
1,932,2018-01-01 02:06:17.541,2018-01-01 02:21:50.027,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
2,550,2018-01-01 12:06:18.039,2018-01-01 12:15:28.443,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
3,510,2018-01-01 12:06:56.978,2018-01-01 12:15:27.810,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
4,354,2018-01-01 14:53:10.186,2018-01-01 14:59:05.096,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
5,250,2018-01-01 17:34:30.192,2018-01-01 17:38:40.984,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1
6,613,2018-01-01 22:05:05.874,2018-01-01 22:15:19.419,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,31859,Subscriber,1982,1
7,290,2018-01-02 12:13:51.794,2018-01-02 12:18:42.107,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31694,Subscriber,1958,1
8,381,2018-01-02 12:50:03.343,2018-01-02 12:56:24.644,3183,Exchange Place,40.716247,-74.033459,3205,JC Medical Center,40.716540,-74.049638,31754,Subscriber,1989,2
9,318,2018-01-02 13:55:58.243,2018-01-02 14:01:16.881,3183,Exchange Place,40.716247,-74.033459,3275,Columbus Drive,40.718355,-74.038914,31816,Subscriber,1960,1
10,1852,2018-01-02 16:55:29.639,2018-01-02 17:26:22.305,3183,Exchange Place,40.716247,-74.033459,3281,Leonard Gordon Park,40.745910,-74.057271,31754,Subscriber,1976,1
11,460,2018-01-02 17:01:50.586,2018-01-02 17:09:31.434,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,33463,Subscriber,1989,2
12,403,2018-01-02 17:05:12.236,2018-01-02 17:11:55.263,3183,Exchange Place,40.716247,-74.033459,3205,JC Medical Center,40.716540,-74.049638,26256,Subscriber,1985,1
13,264,2018-01-02 17:05:12.673,2018-01-02 17:09:37.402,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29616,Subscriber,1974,1
14,282,2018-01-02 17:19:56.609,2018-01-02 17:24:39.534,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29681,Subscriber,1976,1
15,308,2018-01-02 17:31:45.988,2018-01-02 17:36:54.359,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31949,Subscriber,1968,1
16,561,2018-01-02 17:32:54.840,2018-01-02 17:42:16.314,3183,Exchange Place,40.716247,-74.033459,3269,Brunswick & 6th,40.726012,-74.050389,29591,Subscriber,1976,1
17,114,2018-01-02 17:37:44.345,2018-01-02 17:39:38.876,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31925,Subscriber,1988,1
18,302,2018-01-02 17:54:04.877,2018-01-02 17:59:06.973,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,31777,Subscriber,1990,1
19,230,2018-01-02 17:58:24.636,2018-01-02 18:02:15.632,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31763,Subscriber,1992,1
20,596,2018-01-02 18:05:59.624,2018-01-02 18:15:55.859,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29662,Subscriber,1992,1
21,826,2018-01-02 18:10:58.860,2018-01-02 18:24:45.160,3183,Exchange Place,40.716247,-74.033459,3194,McGinley Square,40.725340,-74.067622,31765,Subscriber,1989,1
22,368,2018-01-02 18:13:41.851,2018-01-02 18:19:49.978,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31695,Subscriber,1985,1
23,291,2018-01-02 18:18:41.686,2018-01-02 18:23:33.062,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,31934,Subscriber,1980,1
24,250,2018-01-02 18:20:06.105,2018-01-02 18:24:16.164,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31880,Subscriber,1995,1
25,199,2018-01-02 18:31:11.987,2018-01-02 18:34:31.188,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29623,Subscriber,1980,1
26,225,2018-01-02 18:38:50.510,2018-01-02 18:42:36.212,3183,Exchange Place,40.716247,-74.033459,3185,City Hall,40.717732,-74.043845,31691,Subscriber,1992,1
27,242,2018-01-02 18:41:29.524,2018-01-02 18:45:32.324,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26314,Subscriber,1981,0
28,214,2018-01-02 18:42:30.303,2018-01-02 18:46:04.463,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29581,Subscriber,1991,1
29,218,2018-01-02 19:29:20.787,2018-01-02 19:32:59.149,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31954,Subscriber,1991,1
30,318,2018-01-02 19:30:19.488,2018-01-02 19:35:37.545,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29615,Subscriber,1978,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1061647,747,2018-12-10 20:33:10.044,2018-12-10 20:45:37.279,3694,Jackson Square,40.711130,-74.078900,3194,McGinley Square,40.725340,-74.067622,29519,Subscriber,1958,1
1061648,1124,2018-12-11 06:19:14.061,2018-12-11 06:37:58.796,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29657,Subscriber,1977,1
1061649,648,2018-12-11 12:01:04.104,2018-12-11 12:11:52.908,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,26287,Subscriber,1994,1
1061650,575,2018-12-11 17:46:56.636,2018-12-11 17:56:31.652,3694,Jackson Square,40.711130,-74.078900,3191,Union St,40.718211,-74.083639,29239,Subscriber,1958,1
1061651,961,2018-12-12 06:19:04.390,2018-12-12 06:35:05.839,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,26247,Subscriber,1977,1
1061652,2058,2018-12-12 09:09:44.038,2018-12-12 09:44:02.790,3694,Jackson Square,40.711130,-74.078900,3694,Jackson Square,40.711130,-74.078900,29641,Subscriber,1957,1
1061653,640,2018-12-12 11:54:45.529,2018-12-12 12:05:25.763,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29641,Subscriber,1994,1
1061654,934,2018-12-13 06:16:06.751,2018-12-13 06:31:41.217,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29681,Subscriber,1977,1
1061655,703,2018-12-13 12:17:13.628,2018-12-13 12:28:57.235,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,26190,Subscriber,1994,1
1061656,936,2018-12-14 06:10:18.506,2018-12-14 06:25:54.612,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,26155,Subscriber,1977,1
1061657,668,2018-12-14 12:34:01.031,2018-12-14 12:45:09.655,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,26312,Subscriber,1994,1
1061658,645,2018-12-15 13:31:59.359,2018-12-15 13:42:45.203,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29224,Subscriber,1994,1
1061659,1396,2018-12-15 16:28:38.125,2018-12-15 16:51:54.946,3694,Jackson Square,40.711130,-74.078900,3279,Dixon Mills,40.721630,-74.049968,29126,Subscriber,1988,2
1061660,649,2018-12-16 11:55:07.882,2018-12-16 12:05:57.426,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29658,Subscriber,1994,1
1061661,984,2018-12-17 06:26:18.269,2018-12-17 06:42:42.933,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,26251,Subscriber,1977,1
1061662,687,2018-12-17 12:18:47.132,2018-12-17 12:30:14.509,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29535,Subscriber,1994,1
1061663,726,2018-12-17 17:38:45.443,2018-12-17 17:50:52.432,3694,Jackson Square,40.711130,-74.078900,3194,McGinley Square,40.725340,-74.067622,29276,Subscriber,1973,2
1061664,1041,2018-12-18 06:21:57.745,2018-12-18 06:39:19.744,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29221,Subscriber,1977,1
1061665,654,2018-12-18 12:12:40.298,2018-12-18 12:23:34.402,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29300,Subscriber,1994,1
1061666,1015,2018-12-19 06:15:11.233,2018-12-19 06:32:06.245,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,26220,Subscriber,1977,1
1061667,667,2018-12-19 11:39:50.427,2018-12-19 11:50:58.275,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29299,Subscriber,1994,1
1061668,687,2018-12-20 13:28:39.059,2018-12-20 13:40:06.641,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29258,Subscriber,1994,1
1061669,625,2018-12-21 12:05:04.389,2018-12-21 12:15:29.593,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29664,Subscriber,1994,1
1061670,826,2018-12-21 16:34:37.233,2018-12-21 16:48:24.015,3694,Jackson Square,40.711130,-74.078900,3186,Grove St PATH,40.719586,-74.043117,26306,Subscriber,1991,1
1061671,640,2018-12-22 10:27:40.659,2018-12-22 10:38:21.417,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,26298,Subscriber,1994,1
1061672,1081,2018-12-22 11:51:46.060,2018-12-22 12:09:47.473,3694,Jackson Square,40.711130,-74.078900,3269,Brunswick & 6th,40.726012,-74.050389,29586,Subscriber,1993,1
1061673,344,2018-12-25 21:40:09.866,2018-12-25 21:45:54.267,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26241,Subscriber,1983,2
1061674,1233,2018-12-29 12:55:45.969,2018-12-29 13:16:19.596,3694,Jackson Square,40.711130,-74.078900,3186,Grove St PATH,40.719586,-74.043117,29294,Subscriber,1988,1
1061675,1057,2018-12-30 15:32:09.332,2018-12-30 15:49:46.351,3694,Jackson Square,40.711130,-74.078900,3213,Van Vorst Park,40.718489,-74.047727,29475,Subscriber,1991,2
1061676,301,2018-12-31 16:34:11.934,2018-12-31 16:39:13.834,3694,Jackson Square,40.711130,-74.078900,3277,Communipaw & Berry Lane,40.714358,-74.066611,26270,Subscriber,1991,1

In [16]:
cols = list(gdata_df.columns.values)
print(cols)

['trip_id', 'tripduration', 'starttime', 'stoptime', 'start station id', 'start station name', 'start station latitude', 'start station longitude', 'end station id', 'end station name', 'end station latitude', 'end station longitude', 'bikeid', 'usertype', 'birth year', 'gender']

In [17]:
gdata_df = gdata_df[['trip_id', 'starttime', 'stoptime', 'tripduration', 'birth year', 'gender', 'bikeid', 'usertype', 'start station id', 'start station name', 'start station latitude', 'start station longitude', 'end station id', 'end station name', 'end station latitude', 'end station longitude']]

In [18]:
gdata_df.head()

,trip_id,starttime,stoptime,tripduration,birth year,gender,bikeid,usertype,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude
0,1,2018-01-01 02:06:17.541,2018-01-01 02:21:50.027,932,1992,1,31929,Subscriber,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108
1,2,2018-01-01 12:06:18.039,2018-01-01 12:15:28.443,550,1969,2,31845,Subscriber,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108
2,3,2018-01-01 12:06:56.978,2018-01-01 12:15:27.810,510,1946,1,31708,Subscriber,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108
3,4,2018-01-01 14:53:10.186,2018-01-01 14:59:05.096,354,1994,1,31697,Subscriber,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526
4,5,2018-01-01 17:34:30.192,2018-01-01 17:38:40.984,250,1991,1,31861,Subscriber,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234

In [19]:
gdata_df.count()

trip_id                    1061676
starttime                  1061676
stoptime                   1061676
tripduration               1061676
birth year                 1061676
gender                     1061676
bikeid                     1061676
usertype                   1061676
start station id           1061676
start station name         1061676
start station latitude     1061676
start station longitude    1061676
end station id             1061676
end station name           1061676
end station latitude       1061676
end station longitude      1061676
dtype: int64

In [20]:
spring_df = gdata_df[(gdata_df['starttime'] > '2018-03-01 00:00:00') & (gdata_df['starttime'] < '2018-06-01 00:00:00')]
spring_df.count()

trip_id                    225597
starttime                  225597
stoptime                   225597
tripduration               225597
birth year                 225597
gender                     225597
bikeid                     225597
usertype                   225597
start station id           225597
start station name         225597
start station latitude     225597
start station longitude    225597
end station id             225597
end station name           225597
end station latitude       225597
end station longitude      225597
dtype: int64

In [21]:
summer_df = gdata_df[(gdata_df['starttime'] > '2018-06-01 00:00:00') & (gdata_df['starttime'] < '2018-09-01 00:00:00')]
summer_df.count()

trip_id                    382911
starttime                  382911
stoptime                   382911
tripduration               382911
birth year                 382911
gender                     382911
bikeid                     382911
usertype                   382911
start station id           382911
start station name         382911
start station latitude     382911
start station longitude    382911
end station id             382911
end station name           382911
end station latitude       382911
end station longitude      382911
dtype: int64

In [22]:
fall_df = gdata_df[(gdata_df['starttime'] > '2018-09-01 00:00:00') & (gdata_df['starttime'] < '2018-12-01 00:00:00')]
fall_df.count()

trip_id                    309210
starttime                  309210
stoptime                   309210
tripduration               309210
birth year                 309210
gender                     309210
bikeid                     309210
usertype                   309210
start station id           309210
start station name         309210
start station latitude     309210
start station longitude    309210
end station id             309210
end station name           309210
end station latitude       309210
end station longitude      309210
dtype: int64

In [23]:
winter1_df = gdata_df[(gdata_df['starttime'] > '2018-01-01 00:00:00') & (gdata_df['starttime'] < '2018-03-01 00:00:00')]
winter1_df.count()

trip_id                    83343
starttime                  83343
stoptime                   83343
tripduration               83343
birth year                 83343
gender                     83343
bikeid                     83343
usertype                   83343
start station id           83343
start station name         83343
start station latitude     83343
start station longitude    83343
end station id             83343
end station name           83343
end station latitude       83343
end station longitude      83343
dtype: int64

In [24]:
winter2_df = gdata_df[(gdata_df['starttime'] > '2018-12-01 00:00:00') & (gdata_df['starttime'] < '2018-12-31 23:59:59')]
winter2_df.count()

trip_id                    60615
starttime                  60615
stoptime                   60615
tripduration               60615
birth year                 60615
gender                     60615
bikeid                     60615
usertype                   60615
start station id           60615
start station name         60615
start station latitude     60615
start station longitude    60615
end station id             60615
end station name           60615
end station latitude       60615
end station longitude      60615
dtype: int64

In [25]:
winter_df = winter1_df.append(winter2_df)

In [26]:
winter_df.count()

trip_id                    143958
starttime                  143958
stoptime                   143958
tripduration               143958
birth year                 143958
gender                     143958
bikeid                     143958
usertype                   143958
start station id           143958
start station name         143958
start station latitude     143958
start station longitude    143958
end station id             143958
end station name           143958
end station latitude       143958
end station longitude      143958
dtype: int64

In [28]:
spring_df.to_csv('Output/bikes_spring.csv', index=True, header=True)
summer_df.to_csv('Output/bikes_summer.csv', index=True, header=True)
fall_df.to_csv('Output/bikes_fall.csv', index=True, header=True)
winter_df.to_csv('Output/bikes_winter.csv', index=True, header=True)

In [29]:
gdata_df.to_csv('Output/bikes_all2018.csv', index=True, header=True)